<script src="{{STATIC_URL}}/static/jquery.min.js"></script>
    <script type="text/javascript">
     var beginCount={{beginCount}};
     var endCount={{endCount}};

     window.setInterval(function(){
         $.ajax({
     			   type: "GET",
     			   url: "../getMsg",
             data:{'username':"{{receiver}}",'beginCount':beginCount,'endCount':endCount,'prevMsg':0},
     			   async:false,
             success : function(text)
             {
                 $("#newMessege").append(text)
             }
     		 })
}, 5000);


     function send_msg(){

    		 $.ajax({
    			type: "POST",
    			url: "../sendMesg",
    			data:{'message':document.getElementById("Message").value,'sender':"{{sender}}",'receiver':"{{receiver}}"},
    			async:true
    		 });
         document.getElementById("Message").value="";
    	}

     function getPrevMsg(){

         $.ajax({
     			   type: "GET",
     			   url: "../getMsg",
             data:{'username':"{{receiver}}",'beginCount':beginCount,'endCount':endCount,'prevMsg':1},
     			   async:false,
             success : function(text)
             {
                $("#prevMessege").prepend(text)
             }
     		 });

     }

     function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }

     function csrfSafeMethod(method) {
         // these HTTP methods do not require CSRF protection
         return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
     }
     $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
     });




    </script>


Welcome {{sender}},{{receiver}},{{mylist}}
    <br><br>
    <button id="getPrevMsg" onclick="getPrevMsg()">Get Prev Message</button>
    <br><br>
    <div id="prevMessege">
</div>

<div id="current">
{% for ab in mylist %}
	<bold>{{ab.1}}:</bold>
    {{ab.0}}<br><br>

{% endfor %}
</div>

<div id="newMessege">
</div>

    <div class="container">
        {% csrf_token %}
        <input type="text" placeholder="Enter Messege" id="Message" name="Messege" required>
        <br><br>
        
        <button id="send_msg" onclick="send_msg()">Send</button>
    </div>
