<script src="{{STATIC_URL}}/static/jquery.min.js"></script>
<script type="text/javascript">





 function bringusers(){
alert($("#username").val())
$.ajax({
     			   type: "GET",
     			   url: "../bringusers/",
             data:{'username':$("#username").val()},
     			   async:false,
             success : function(text)
             {
                 $("#choices").html(text);
             }
     		 });
}
function addusers(){
var existing = $("#reciever").val();
var newi = $('input[name=choose]:checked').val();
if (existing == ""){
	$("#reciever_div").html(newi);
	$("#reciever").val( newi );
}
else if (existing.indexOf(newi) < 0){
	var temp = $("#reciever_div").html();
	$("#reciever_div").html( temp + ',' + newi );
	$("#reciever").val( temp + ',' + newi );
}
}
$(document).ready(function() {
            //option A
            $("#form").submit(function(e){
		if ($("#reciever").val()!=""){
			$("#form").submit();
		}
		else{
			e.preventDefault(e);
		}
            });
 });


 window.setInterval(function(){
     $.ajax({
     		 type: "GET",
     		 url: "../Getnotseen",
         data:{},
     		 async:false,
         success : function(text)
         {
             $("#notSeenDisplay").append(text)
         }
     })
 }, 5000);

</script>

Welcome {{user.username}},
<br>

<form action="{% url 'messenger:openchat' %}" method="post">
    {% csrf_token %}
    <div id="notSeenDisplay">

    </div>

        <input type="submit" name="submitButton" value="Open Chat">
</form>





<hr>
Who do you want to chat with:
<form action="{% url 'messenger:chooseuser' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Search User Here" name="username" required>
        <br><br>
        <button type="submit">ok</button>
    </div>
</form>
<br>
Or create a new group chat here, Please add atleast one user 
<div id="reciever_div"></div>
<br>
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Add users from here" name="username" id="username" required>
	<button onclick="bringusers()" type="button">ok</button>
	<div id ="selected"></div>
	<div id ="choices"></div>
        <br>
    </div>
<form action="{% url 'messenger:open_newchat' %}" method="post" id="form">
    {% csrf_token %}
<input type="hidden" name="reciever" id="reciever" value="">
<button type="submit">Submit</button>
</form>

